
.animate {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    border: 6px solid white;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-color: rgb(255, 0, 187);
    /* Pink color */
    border-bottom-color: rgb(255, 0, 187);
    /* Pink color */
    animation: rotate 2s infinite;
}

.item2 {
    margin: 10px;
    border: 6px solid white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left-color: rgb(0, 255, 34);
    /* Match with .item1 */
    border-right-color: rgb(0, 255, 17);
    /* Green color */
    animation: rotate 2s infinite;
}

.item3 {
    margin: 10px;
    border: 6px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-color: rgb(40, 5, 214);
    /* Blue color */
    border-bottom-color: rgb(40, 5, 214);
    /* Blue color */
    animation: rotate 2s infinite;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
.item4 {
    margin: 10px;
    border: 6px solid white;
    border-right-color: rgb(249, 6, 6);
    /* Match with .item3 */
    border-left-color: red;
    /* Red color */
    animation: rotate 2s infinite;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}